/* *, *:before, *:after {
    box-sizing: inherit;
  } */

::before,
::after {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.log {
  align-self: flex-start;
  margin-left: -30px;
  font-style: bold;
  font-size: 26px;
  font-family: serif;
}
.cartimg {
  width: 29px;
  height: 32px;
}
.tick {
  height: 20px;
}
.lst {
  list-style: none;
}

.a1 {
  box-sizing: border-box;
  width: 100%;
}
.A2 {
  display: flex;
  flex-direction: row;
  float: right;
  width: 50%;
}

.A1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  float: left;
  padding: 10px;
}
 .a2 {
  margin-top: 49%;
  text-align: center;
  padding: 0px;
  margin-bottom: -5px;
}

/*.empty {
  height: 210px;
  width: 220px;
}
.empty1 {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  width: 35%;
} */

.empty2{
  
  display: flex;    /* display block    float :right    border: 5px solid #bbbbbb;
  background-color: rgb(14, 12, 12)   color: aquamarine;   find a better design.
  */
 flex-direction: column;
 width: 100%;
 margin-bottom: 5px;
 padding: 0px;
} 

.btnget {
  width: 107px;
  height: 38px;
  border: 2px solid aqua;
  background-color: aquamarine;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.btnget:hover {
  height: 40px;
  width: 109px;
  align-self: flex-end;
  margin-right: -10px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: rgb(5, 3, 3);
}


.image {
  height: 500px;
  width: 669px;
}

.nav {
  margin-bottom: 15px;
}

.nav:hover {
  color: rgb(126, 121, 121);
}
.bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;
  width: 100%;
  top: 0;
  padding: 25px;
  margin-bottom: 70px;
  margin-left: -18px;
  margin-top: -13px;
  box-shadow: #fff;
  position: -webkit-sticky;
  position: sticky;
  /**-webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333; **/
}

.lgbtn {
  height: 35px;
  width: 100px;
  align-self: flex-end;
  margin-right: -10px;
  border: solid black 1px;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(5, 3, 3);
}

.lgbtn:hover {
  height: 35px;
  width: 100px;
  align-self: flex-end;
  margin-right: -13px;
  border-radius: 8px;
  color: black;
  border: 2px solid aqua;
  background-color: aquamarine;
}
.A3{
  margin-top: -5px;
  padding: 0%;
}

.empty3{
  margin-top: 2px;
}
.big{
  font-size: 50px;
  text-align: center;
}

.small{
  font-size: 25px;
  font-style: unset;
  color: rgb(19, 17, 17);
  text-align: center;
}